<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-left">
      <div class="column is-4 is-offset-4 has-text-centered">
        <div class="card">
          <div class="card-header">
            <h3 class="card-header-title is-1">Log in</h3>
          </div>
          <div class="card-content">
            <form [formGroup]="frmLogin">
              <div class="field has-text-left">
                <label class="label">Username </label>
                <div class="control">
                  <input [ngClass]="{'is-danger': hasError('username', 'any')}" formControlName="username"
                    class="input is-focused" type="username" placeholder="Your username" autofocus="">
                </div>
                <div class="has-text-danger" *ngIf="hasError('username', 'username')">
                  A valid username is required!
                </div>
              </div>

              <div class="field has-text-left">
                <label class="label">Password </label>
                <div class="control">
                  <input [ngClass]="{'is-danger': hasError('password', 'any')}" formControlName="password"
                    class="input is-focused" type="password" placeholder="Your Password">
                </div>
                <div class="has-text-danger" *ngIf="hasError('password', 'required')">
                  Password is required!
                </div>
              </div>
              <div class="field">
                <button [disabled]="frmLogin.invalid" class="button is-block is-primary has-text-white is-fullwidth ">
                  Create Account
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
